<?xml version='1.0'?>
<robot name="FreeLunar_Sled_Empty">
  <link name='chassis'>
    <collision name='collision'>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="package://assembly_control/meshes/module_3_visual.stl" />
      </geometry>
      <surface>
        <bounce>
          <restitution_coefficient>0.35</restitution_coefficient>
          <threshold>0.025</threshold>
        </bounce>
      </surface>
    </collision>

    <visual name='visual'>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="package://assembly_control/meshes/module_3_visual.stl" />
      </geometry>
    </visual>

    <inertial>
      <mass value="4.419" />
      <origin xyz="0.0 0.063738 0.054633" rpy="-0.1418952682 0.0 0.0" />
      <inertia
	  ixx="0.223047752" ixy="0.0" ixz="0.0"
	  iyy="0.08231827" iyz="0.0"
	  izz="0.274096609" />
    </inertial>
  </link>

  <link name="connector_0" />
  <link name="connector_1" />
  <link name="connector_2" />

  <joint type="fixed" name="connector_0_joint">
    <origin xyz="0.110 0.0 0.0" rpy="0.0 0.0 0.0" />
    <child link="connector_0" />
    <parent link="chassis" />
  </joint>

  <joint type="fixed" name="connector_1_joint">
    <origin xyz="0.0 0.110 0.0" rpy="0.0 0.0 1.5707" />
    <child link="connector_1" />
    <parent link="chassis" />
  </joint>

  <joint type="fixed" name="connector_2_joint">
    <origin xyz="-0.110 0.0 0.0" rpy="0.0 0.0 3.1416" />
    <child link="connector_2" />
    <parent link="chassis" />
  </joint>

</robot>